﻿<%@ Page Title="Oracle" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Oracle.aspx.cs" Inherits="Padding_Oracle_Attack_Demo.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
